<html>
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Bokeh -->
        <link href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" rel="stylesheet" type="text/css">
        <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.14.min.css" rel="stylesheet" type="text/css">

        <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
        <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>

    </head>

    <body>

        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand" href="#">
                <img src="/static/logos/{{data['tid']}}.png" width="40" height="40" class="d-inline-block align-top" alt="">
                &nbsp Welcome, {{data['name']}}!
            </a>

            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Update Favourate Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>

        </nav>

        <div class="row">
            <div class="span8" style="padding-left:20px; background-color:azure">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">UserID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key in users %}
                            <tr>
                                <td>
                                    &nbsp {{ key }}
                                </td>
                                <td>{{ users[key] }}</td>
                                <td>
                                    <form action="/user_update" method="POST">
                                        <button value={{key}} onclick="location.href='/user_update'">Delete</button>
                                        <input id="userId" name="userId" type="hidden" value="{{key}}">
                                    </form>
                                </td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="tournament" style="margin-left:100px;">
                <form action="/tournament_update" method="POST">
                    <fieldset>
                        <legend>New Tournament Information</legend>
                        <p>
                          <label>Enter the new Sponser Name</label>
                          <input type = "text" name = "Sponser" />
                        </p>
                        <p>
                          <label>Enter the Year</label>
                          <input type = "text" name = "Year" />
                        </p>
                    </fieldset>
                    <input type="submit" value="Submit" class="btn btn-success">
                </form>

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                {% endwith %}

            <table class="table table-hover ">
                    <thead>
                        <tr>
                            <th scope="col">Year</th>
                            <th scope="col">Tournament Name</th>
                            <th scope="col">Sponser Name</th>
                            <th scope="col">Option</th>
                        </tr>
                    </thead>
                    <tbody align="center">
                        {% for key in tournament %}
                            <tr>

                                <td>&nbsp  {{ tournament[key][1] }}</td>
                                <td> {{ tournament[key][0] }}</td>
                                <td> {{ tournament[key][2] }}</td>
                                {% if  tournament[key][1] > 2019 %}
                                    <td>
                                        <form action="/tournament_delete" method="POST">
                                            <button value={{key}} onclick="location.href='/tournament_delete'">Delete</button>
                                            <input id="tourId" name="tourId" type="hidden" value="{{key}}">
                                        </form>
                                    </td>

                                {% else %}
                                <td>Delete</td>
                                {% endif %}

                            </tr>
                        {% endfor %}
                    </tbody>
            </table>



            </div>

            <div>


            </div>



        </div>

        <hr>

    </body>
</html>


