<html>
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Bokeh -->
        <link href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" rel="stylesheet" type="text/css">
        <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.14.min.css" rel="stylesheet" type="text/css">

        <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
        <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>

    </head>

    <body>

        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand" href="#">
                <img src="/static/logos/{{data['tid']}}.png" width="40" height="40" class="d-inline-block align-top" alt="">
                &nbsp Welcome, {{data['name']}}!
            </a>

            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Change Favorite Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>

        </nav>

        <div class="row">
            <div class="span8" style="padding-left:20px; background-color:azure">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Team</th>
                            <th scope="col">Rank</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rank, team in rankings.iteritems() %}
                            {% if team[0] == data['tid'] %}
                            <tr class="table-primary">
                            {% else %}
                            <tr>
                            {% endif %}
                                <td>
                                    <img src="/static/logos/{{team[0]}}.png" width="30" height="30" class="d-inline-block align-top" alt="">
                                    &nbsp {{ team[1] }}
                                </td>
                                <td>{{ rank }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Division for WLD plot -->
            <div class="span4" style="margin-left:100px;">
                {{ wld_plot_div | safe }}
            </div>

            <div class="span8" style="margin-left:115px;">
                <div class="row" style="background-color:oldlace; padding:10px;">
                    <!-- Top Batsmen table-->
                    <p class="" style="padding-top:5px;">Top 3 Performers with the bat</p>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Country</th>
                                <th scope="col">Runs</th>
                                <th scope="col">Percentage Runs</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pid, data in top_batsmen.iteritems() %}
                                <tr>
                                    <td>
                                        {{ data[0] }}
                                    </td>
                                    <td>
                                        {{ data[3] }}
                                    </td>
                                    <td>
                                        {{ data[1] }}
                                    </td>
                                    <td>
                                        {% print("{0:.2f}".format(data[2])) %}%
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="row" style="margin-top: 10px; background-color:oldlace; padding:10px">
                    <!-- Top Bowlers table-->
                    <p class="" style="padding-top:5px;">Top 3 Performers with the ball</p>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Country</th>
                                <th scope="col">Wickets</th>
                                <th scope="col">Percentage Wickets</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pid, data in top_bowlers.iteritems() %}
                                <tr>
                                    <td>
                                        {{ data[0] }}
                                    </td>
                                    <td>
                                        {{ data[3] }}
                                    </td>
                                    <td>
                                        {{ data[1] }}
                                    </td>
                                    <td>
                                        {% print("{0:.2f}".format(data[2])) %}%
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <hr>

        <div class="row">
            <!-- Division for Team Comp plot -->
            <div class="span6" style="padding-left:20px;">
                {{ team_comp_plot_div | safe }}
            </div>
        </div>

    </body>
    {{ wld_plot_script | safe }}
    {{ team_comp_plot_script | safe }}
</html>


