<!DOCTYPE html>
<link rel="stylesheet" href="/static/style.css" type="text/css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<title>Bloody Ashes</title>-->
</head>

{% block body %}
{% if session['logged_in'] %}
    You're already logged in :)
{% else %}
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
               <h1>Bloody Ashes</h1>
            </div>
            <div class="login-form">
                <form action="/login" method="POST">
                    <div class="control-group">
                       <input type="text" class="login-field" value="" placeholder="username" name="username">
                       <label class="login-field-icon fui-user" for="login-name"></label>
                    </div>
                    <div class="control-group">
                        <input type="password" class="login-field" value="" placeholder="password" name="password">
                        <label class="login-field-icon fui-lock" for="login-pass"></label>
                    </div>
                    <input type="submit" value="Log in" class="btn btn-large btn-block">
                </form>
                <br>
                <p style="font-weight:bold;">OR</p>
                <br>
                <input type="button" onclick="location.href='/signup'" value="New User - Sign Up" class="btn btn-large btn-block">
            </div>
        </div>
    </div>

    <!--Flash messages-->
    <div class="flash-message">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

{% endif %}
{% endblock %}
</html>